body{
	background-color: #CCCCCC
}

h1{
	margin:30px;
}
.beerImg{
	margin-top: 25px;
}
.hidden{
	display: none;
}
input{
	margin:10px;
}
button{
	margin-right: 20px;
}
.forms{
	border:1px solid black;
}
.content{
	margin-top:10px;
	border:1px solid black;
	height: 450px;
}
